[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "JATSdecoder"]
	path = JATSdecoder
	url = https://github.com/ingmarboeschen/jatsdecoder
[submodule "tableParser"]
	path = tableParser
	url = https://github.com/ingmarboeschen/tableparser
